*/build
*/*/build
*/*.wts
*/*.ppm
*idea*
*/__pycache__/*
*/runs/
*/runs/*
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.cfg
*/*/build
*/*/*.soc
*/*/*.pcie
*/*/docs
*/*/3rdparty/*/lib
*/*/3rdparty/*/lib/*
*/data
*/mmpretrain.egg-info
*/work_dirs
*/work_dirs/*
*/*/*.onnx
*.pt
*.pth
*/*/cmake-build-debug
*/*/release
*/sophon-app_old
*.out
share
lib
debug
BUILD_INFO
CONTROL
*.tar
*.tar.gz
*.zip
*.a
*.so.*
*.so
